<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>DipFoodLog</name>

    <description>
        Dipolog's Food Directory
    </description>

    <author href="https://technolojet.com" email="jamarante@technolojet.com">
        Jronny Amarante
    </author>

    <access origin="*"/>
    <content src="index.html" />

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="webos" />
    <gap:platform name="symbian" />
    <gap:platform name="blackberry" />
    <gap:platform name="winphone" />


    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-maxSdkVersion" value="15" />
    <preference name="android-targetSdkVersion" value="12" />
    <preference name="android-installLocation" value="auto" />

    <uses-permission android:name="android.permission.INTERNET" />
    
    <icon src="icon.png" />
</widget>